.section {
  margin-bottom: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container__feature-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.feature-list__item {
  width: 270px;

  &:not(:first-child) {
      margin-left: 30px;
    }
}

.feature-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

.feature-list__icon {
  width: 70px;
  height: 70px;
}

.feature-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  text-align: left;
  text-transform: uppercase;
}

.feature-list__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-size: var(--primary-font-size);
  line-height: 1.71;
}