.footer__container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  
  background-color: var(--secondary-bg-color);
}

.adress {
  margin-top: 20px;
  font-style: normal;
  font-size: var(--primary-font-size);
  line-height: 1.71;
}

.adress__list {
  padding: 0;
  margin: 0;
}

.adress__item:not(:first-child) {
  margin-top: 9px;
}

.adress__link {
  color: var(--primary-white-color);
  text-decoration: none;
}

.adress__contacts {
  color: var(--footer-contacts-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      color: var(--accent-color);
    }
}

.footer-connection {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.footer-connection__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

// .footer-networks {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin: auto;
//   width: 206px;
//   height: 44px;
// }

// .footer-networks__link {
//   display: flex;
//   margin: 0;
//   width: 44px;
//   height: 44px;

//   background-color: rgba(255, 255, 255, 0.1);
//   border-radius: 50px;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//       background-color: var(--accent-color);
//     }
// }

// .footer-networks__icon {
//   width: 20px;
//   height: 20px;
//   margin: auto;

//   fill: var(--primary-white-color);
// }

